<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="success">
      IA do Azure
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of fotoService.fotos; index as position">
        <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo,position)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="dark" (click)="tirarFoto()">
      <ion-icon name="camera" color="success"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
